*~
.*.sw[op]
*.desktop
*.la
*.lo
*.o
*.gcda
*.gcno
*.stamp
*.tar.gz
*.pyc
.deps
.libs
config.*
aclocal.m4
autom4te.cache
ChangeLog
Makefile.in
Makefile
compile
configure
depcomp
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
tmpl
tracker-*-client.h
tracker-*-glue.h
tracker-marshal.[ch]
tracker-preferences.[ch]
