*~
.*.sw[op]
*.desktop
*.la
*.lo
*.o
*.gcda
*.gcno
*.gir
*.stamp
*.tar.gz
*.typelib
*.pyc
.deps
.libs
config.*
!config.h.meson.in
ABOUT-NLS
aclocal.m4
autom4te.cache
build-aux
ChangeLog
INSTALL
Makefile.in
Makefile
compile
configure
coverage
depcomp
gtk-doc.make
install-sh
install.rdf
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
tmpl
tracker-*-client.h
tracker-*-glue.h
tracker-preferences.[ch]
