[Desktop Entry]
Encoding=UTF-8
Name=Indexing Preferences
Comment=Configure File Indexing
Icon=tracker.png
Exec=tracker-preferences
Terminal=false
Type=Application
Categories=Settings;
