tracker
tracker-albumart
tracker-albumart-test
tracker-sched-test
tracker-dbus
tracker-file-utils
tracker-ontology
tracker-thumbnailer
tracker-type-utils
tracker-utils
tracker-date-time-test
tracker-media-art-test
tracker-parser-test
