Source: tracker
Section: utils
Priority: optional
Maintainer: Jamie McCracken <jamiemcc@gnome.org>
Build-Depends: debhelper (>= 5.0.0), autotools-dev, libdbus-glib-1-dev
Standards-Version: 3.7.2

Package: tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: tracker-utils
Description: Metadata database and indexing search tool
 Tracker is an advanced framework for first class objects with associated
 metadata and tags. It provides a one stop solution for all metadata, tags,
 shared object databases, search tools and indexing.

Package: libtrackerclient0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, tracker (= ${Source-Version})
Description: Library for accessing Tracker
 This library allow programmers accessing Tracker daemon and performing
 searches.
 .
 Tracker is an advanced framework for first class objects with associated
 metadata and tags. It provides a one stop solution for all metadata, tags,
 shared object databases, search tools and indexing.

Package: libtrackerclient0-dev
Architecture: any
Section: devel
Depends: libtrackerclient0 (= ${Source-Version})
Description: Development files for Tracker
 This package contains the headers and other development files not included in
 the libtrackerclient0 package for developing with it.
 .
 Tracker is an advanced framework for first class objects with associated
 metadata and tags. It provides a one stop solution for all metadata, tags,
 shared object databases, search tools and indexing.

Package: tracker-utils
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities for Tracker
 Included utilities for Tracker:
  * tracker-files: get files based on a ServiceType (Documents, Music, Images,
    Videos, Text, Development, Other), or on specified mime types.
  * tracker-meta-folder: get metadata for files in a folder.
  * tracker-query: this reads from STDIN an RDF Query that specifies the search
    criteria for various fields. It prints to STDOUT all matching files. Some
    examples are included in this package.
  * tracker-search: this perfoms a google like search using SEARCHTERM to
    retrieve all matching files where SEARCHTERM appears in any searchable
    metadata.
  * tracker-stats: retreive some statistics.
  * tracker-tag: tool to manage tags on files.
 .
 Tracker is an advanced framework for first class objects with associated
 metadata and tags. It provides a one stop solution for all metadata, tags,
 shared object databases, search tools and indexing.

Package: tracker-gnome-search-tool
Priority: optional
Section: gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tracker search tool for GNOME
 This package provides a graphical Tracker search tool dedicated to GNOME,
 the "GNU Network Object Model Environment".
 .
 Tracker is an advanced framework for first class objects with associated
 metadata and tags. It provides a one stop solution for all metadata, tags,
 shared object databases, search tools and indexing.
