== ttl2html ==

   This programs outputs in stdout a HTML representation of the TTL ontology file.

   It receives as parameter an ontology TTL file, and
   optionally the base URI for the classes in that ontology. This base
   URI is used to turn the internal references in the ontology into
   HTML anchors.

   E.g.

 ./ttl2html -f ../../data/ontologies/39-mto.ontology -u http://www.tracker-project.org/temp/mto#


== ontology-validator ==

   This program check that all files in the ontology are TTL
   syntactically correct, and all referenced classes are defined
   somewhere in the ontology.

   It receives as parameter the ontology files directory. Usually:

 ./ontology-validator -o ../../data/ontologies


== Deprecated ==

python ./service2xml.py < ../../data/services/email.metadata > t.xml ; xsltproc sample.xsl t.xml
