[Files]
DisplayName=All Files
Description=All files in the filesystem
PropertyPrefix=File
UIVisible=true
Icon=system-file-manager
UIView=icon
ShowServiceFiles=true
ShowServiceDirectories=true

[Folders]
DisplayName=Folders
Description=Folders in the filesystem
Parent=Files
UIVisible=true
UIView=icon
MimePrefixes=x-directory/;inode/;
Icon=folder
ShowServiceFiles=true
ShowServiceDirectories=true
HasFullText=false
HasMetadata=false
HasThumbs=false

[Other]
DisplayName=Other Files
Description=All other files that do not belong in any other category
Parent=Files
ShowServiceFiles=true
ShowServiceDirectories=true
HasMetadata=true
HasFullText=true
HasThumbs=true

[Emails]
DisplayName=Emails
Description=All Emails
PropertyPrefix=Email
UIVisible=true
UIMetadata1=Email:Subject
UIMetadata2=Email:Sender
Icon=stock_mail-open
TabularMetadata=Email:Sender;Email:Subject;Email:Date;
TileMetadata=Email:Sender;Email:Subject;Email:Date;Email:SentTo;Email:CC;Email:Attachments
ContentMetadata=Email:Body

