<%(feed_message_uri)s> a mfo:FeedMessage ;
  nie:title                "%(feed_message_title)s" ;
  nie:relatedTo            <%(feed_message_uri)s> ;
  nie:description          "%(feed_message_description)s" ;
  nie:links                <%(feed_message_uri)s> ;
  nie:comment              "%(feed_message_comment)s" ;
  nmo:communicationChannel <%(feed_message_channel)s> .
