<${feed_channel_uri}> a mfo:FeedChannel ;
  nie:title       "${feed_channel_title}" ;
  nie:relatedTo   <${feed_channel_uri}> ;
  nie:description "${feed_channel_description}" ;
  nie:links       <${feed_channel_uri}> ;
  mfo:image       "" ;
  mfo:type        <http://www.tracker-project.org/temp/mfo#rssatom> .
