<${feed_message_uri}> a mfo:FeedMessage ;
  nie:title           "${feed_message_title}" ;
  nie:relatedTo       <${feed_message_uri}> ;
  nie:description     "${feed_message_description}" ;
  nie:links           <${feed_message_uri}> ;
  nie:comment         "${feed_message_comment}" ;
  nie:isLogicalPartOf <${feed_message_channel}> .
