<%(feed_channel_uri)s> a mfo:FeedChannel ;
  nie:title       "%(feed_channel_title)s" ;
  nie:relatedTo   <%(feed_channel_uri)s> ;
  nie:description "%(feed_channel_description)s" ;
  nie:links       <%(feed_channel_uri)s> ;
  mfo:image       "" ;
  mfo:type        <http://www.tracker-project.org/temp/mfo#rssatom> .
