<%(transfer_uri)s> a mto:TransferElement ;
  mto:source        <%(transfer_source)s> ;
  mto:destination   <%(transfer_destination)s> ;
  mto:startedTime   "%(transfer_started)s" ;
  mto:completedTime "%(transfer_completed)s" ;
  mto:state         <%(transfer_state)s> .
