<%(upload_uri)s> a mto:UploadTransfer ;
  mto:transferState  <%(upload_state)s> ;
  mto:method         <%(upload_method)s> ;
  mto:created        "%(upload_created)s" ;
%(upload_transfers)s
  mto:account        "%(upload_account)s" .
