<${upload_uri}> a mto:UploadTransfer ;
  mto:transferState  <${upload_state}> ;
  mto:method         <${upload_method}> ;
  mto:created        "${upload_created}" ;
${upload_transfers}  
  mto:account        "${upload_account}" .
