<${transfer_uri}> a mto:TransferElement ;
  mto:source        <${transfer_source}> ;
  mto:destination   <${transfer_destination}> ;
  mto:startedTime   "${transfer_started}" ;
  mto:completedTime "${transfer_completed}" ;
  mto:state         <${transfer_state}> .
