<${alarm_uri}> a ncal:Alarm; 
    ncal:action      ncal:emailAction; 
    ncal:repeat      "${alarm_repeat}"; 
    ncal:duration    "${alarm_duration}"; 
    ncal:trigger [ a ncal:Trigger; ncal:triggerDateTime "${alarm_trigger_date}" ]; 
    ncal:summary     "${alarm_subject}"; 
    ncal:description "${alarm_description}" . 
