<${todo_uri}> a ncal:Todo, nie:DataObject;
  ncal:uid           "${todo_uid}";
  ncal:percentComplete 0;
  ncal:summary       "${todo_summary}";
  ncal:class         ncal:publicClassification;
  ncal:todoStatus    ncal:;
  ncal:priority      0;
  ncal:dtstamp       "${todo_created}";
  ncal:created       "${todo_created}";
  ncal:lastModified  "${todo_modified}";
  ncal:sequence       0;
  ncal:url            <${todo_uri}>;
  ncal:hasAlarm       <${alarm_uri}> ;
  nie:isLogicalPartOf <${calendar_uri}> .
