<%(alarm_uri)s> a ncal:Alarm; 
    ncal:action      ncal:emailAction; 
    ncal:repeat      "%(alarm_repeat)s"; 
    ncal:duration    "%(alarm_duration)s"; 
    ncal:trigger [ a ncal:Trigger; ncal:triggerDateTime "%(alarm_trigger_date)s" ]; 
    ncal:summary     "%(alarm_subject)s"; 
    ncal:description "%(alarm_description)s" . 
