<%(postal_address_uri)s> a nco:PostalAddress;
    nco:country "%(postal_address_country)s" ;         
    nco:region "%(postal_address_region)s" ;          
    nco:postalcode "%(postal_address_postal_code)s" ;   
    nco:locality "%(postal_address_city)s" ;  
    nco:streetAddress "%(postal_address_street)s" .
