<%(contact_uri)s> a nco:PersonContact;
    nco:fullname         "%(contact_name_given)s %(contact_name_family)s";
    nco:nameGiven        "%(contact_name_given)s";
    nco:nameFamily       "%(contact_name_family)s";
    nco:birthDate        "%(contact_birth_date)s";
    nco:hasEmailAddress   %(email_address_uri)s;
    nco:hasPhoneNumber    %(phonenumber_uri)s;
    nco:hasPostalAddress  %(postal_address_uri)s .
