<${postal_address_uri}> a nco:PostalAddress;
    nco:country "${postal_address_country}" ;         
    nco:region "${postal_address_region}" ;          
    nco:postalcode "${postal_address_postal_code}" ;   
    nco:locality "${postal_address_city}" ;  
    nco:streetAddress "${postal_address_street}" .
