<%(plaintext_document_uri)s> a nfo:PlainTextDocument, nfo:FileDataObject;
    nie:byteSize           "%(plaintext_document_size)s" ;
    nie:dataSource         <%(plaintext_document_datasource)s> ;
    nie:url                "%(plaintext_document_url)s" ;
    nfo:belongsToContainer <%(plaintext_document_container)s> ;
    nie:mimeType           "%(plaintext_document_mime)s" ;
    nie:plainTextContent   "%(plaintext_document_content)s" ;
    nie:isStoredAs         <%(plaintext_document_stored_as)s> ;
    nfo:fileLastAccessed   "%(plaintext_document_last_accessed)s" ;
    nfo:fileLastModified   "%(plaintext_document_last_modified)s" ;
    nfo:fileSize           "%(plaintext_document_size)s" ;
    nfo:fileName           "%(plaintext_document_filename)s" .
