<%(webhistory_uri)s> a nfo:WebHistory ;
  nie:title                   "%(webhistory_title)s" ;
  nie:informationElementDate  "%(webhistory_date)s" ;
  nie:contentCreated          "%(webhistory_created)s" ;
  nie:contentLastModified     "%(webhistory_modified)s" ;
  nie:usageCounter            "%(webhistory_counter)s" ;
  nfo:uri                     "%(webhistory_url)s" .
