<${application_uri}> a nfo:SoftwareApplication, nfo:FileDataObject;
    nie:title            "${application_title}";
    nie:url              "${application_url}";
    nie:dataSource       <${application_datasource}>;
    nie:isStoredAs       <${application_url}>;
    nie:isLogicalPartOf  <${application_part_of}>;
    nfo:fileName         "${application_filename}";
    nfo:fileLastModified "${application_last_modified}";
    nfo:softwareIcon     <${application_icon}>;
    nfo:softwareCmdLine  "${application_cmdline}" .
