<${webhistory_uri}> a nfo:WebHistory ;
  nie:title                   "${webhistory_title}" ;
  nie:informationElementDate  "${webhistory_date}" ;
  nie:contentCreated          "${webhistory_created}" ;
  nie:contentLastModified     "${webhistory_modified}" ;
  nie:usageCounter            "${webhistory_counter}" ;
  nfo:uri                     "${webhistory_url}" .
