<${plaintext_document_uri}> a nfo:PlainTextDocument, nfo:FileDataObject;
    nie:byteSize           "${plaintext_document_size}" ;
    nie:dataSource         <${plaintext_document_datasource}> ;
    nie:url                "${plaintext_document_url}" ;
    nfo:belongsToContainer <${plaintext_document_container}> ;
    nie:mimeType           "${plaintext_document_mime}" ;
    nie:plainTextContent   "${plaintext_document_content}" ;
    nie:isStoredAs         <${plaintext_document_stored_as}> ;
    nfo:fileLastAccessed   "${plaintext_document_last_accessed}" ;
    nfo:fileLastModified   "${plaintext_document_last_modified}" ;
    nfo:fileSize           "${plaintext_document_size}" ;
    nfo:fileName           "${plaintext_document_filename}" .
