<%(application_uri)s> a nfo:SoftwareApplication, nfo:FileDataObject;
    nie:title            "%(application_title)s";
    nie:url              "%(application_url)s";
    nie:dataSource       <%(application_datasource)s>;
    nie:isStoredAs       <%(application_url)s>;
    nie:isLogicalPartOf  <%(application_part_of)s>;
    nfo:fileName         "%(application_filename)s";
    nfo:fileLastModified "%(application_last_modified)s";
    nfo:softwareIcon     <%(application_icon)s>;
    nfo:softwareCmdLine  "%(application_cmdline)s" .
