<${music_piece_uri}> a nmm:MusicPiece, nfo:FileDataObject, nfo:Audio;
    nie:byteSize               "${music_piece_size}" ;
    nie:url                    "${music_piece_url}" ;
    nfo:belongsToContainer     <${music_piece_container}> ;
    nie:title                  "${music_piece_title}" ;
    nie:mimeType               "${music_piece_mime}" ;
    nie:informationElementDate "${music_piece_date}" ;
    nie:isLogicalPartOf        <${music_piece_album}> ;
    nco:contributor            <${music_piece_artist}> ;
    nfo:fileLastAccessed       "${music_piece_last_accessed}" ;
    nfo:fileSize               "${music_piece_size}" ;
    nfo:fileName               "${music_piece_filename}" ;
    nfo:fileLastModified       "${music_piece_last_modified}" ;
    nfo:codec                  "${music_piece_codec}" ;
    nfo:averageBitrate         "${music_piece_bitrate}" ;
    nfo:genre                  "${music_piece_genre}" ;
    nfo:channels               "${music_piece_channels}" ;
    nfo:sampleRate             "${music_piece_sample_rate}" ;
    nmm:musicAlbum             <${music_piece_album}> ;
    nmm:performer              <${music_piece_artist}> ;
    nmm:length                 "${music_piece_length}" ;
    nmm:trackNumber            "${music_piece_track}" .
