<%(channel_uri)s> a nmo:CommunicationChannel;
  nie:subject                "%(channel_subject)s";
  nie:informationElementDate "%(channel_date)s";
  nie:contentLastModified    "%(channel_modified)s";
  nmo:lastMessageDate        "%(channel_last_message)s";
  nmo:hasParticipant         <%(channel_participiant)s> .
