<%(email_uri)s> a nmo:Email ;
    nie:mimeType         "%(email_mime)s" ;
    nie:relatedTo        <%(email_account)s> ;
    nie:isStoredAs       <%(email_stored_as)s> ;
    nie:isLogicalPartOf  <%(email_folder)s> ;
    nie:contentSize      "%(email_size)s" ;
    nie:plainTextContent "%(email_content)s" ;
    nmo:recipient        <%(email_recipient)s> ;
    nmo:messageId        "%(email_id)s" ;
    nmo:messageSubject   "%(email_subject)s" ;
    nmo:receivedDate     "%(email_received)s" ;
    nmo:sender           <%(email_sender)s> ;
    nmo:from             <%(email_sender)s> ;
    nmo:sentDate         "%(email_sent)s" .
