<${channel_uri}> a nmo:CommunicationChannel;
  nie:subject                "${channel_subject}";
  nie:informationElementDate "${channel_date}";
  nie:contentLastModified    "${channel_modified}";
  nmo:lastMessageDate        "${channel_last_message}";
  nmo:hasParticipant         <${channel_participiant}> .
