<%(smsmessage_uri)s> a nmo:SMSMessage;
  nmo:smsId                  "%(smsmessage_id)s" ;
  nie:plainTextContent       "%(smsmessage_content)s";
  nie:informationElementDate "%(smsmessage_date)s";
  nie:contentLastModified    "%(smsmessage_modified)s";
  nie:plainTextContent       "%(smsmessage_content)s" ;
  nmo:from                   <%(smsmessage_from)s>  ;
  nmo:to                     <%(smsmessage_to)s>  ;
  nmo:isDraft                "%(smsmessage_draft)s" ;
  nmo:isRead                 "%(smsmessage_read)s" ;
  nmo:isSent                 "%(smsmessage_sent)s" ;
  nmo:messageId              "%(smsmessage_message_id)s" ;
  nmo:receivedDate           "%(smsmessage_received)s" ;
  nmo:sentDate               "%(smsmessage_sent_date)s" ;
  nmo:communicationChannel   <%(smsmessage_channel_uri)s> .
