<${email_uri}> a nmo:Email ;
    nie:mimeType         "${email_mime}" ;
    nie:relatedTo        <${email_account}> ;
    nie:isStoredAs       <${email_stored_as}> ;
    nie:isLogicalPartOf  <${email_folder}> ;
    nie:contentSize      "${email_size}" ;
    nie:plainTextContent "${email_content}" ;
    nmo:recipient        <${email_recipient}> ;
    nmo:messageId        "${email_id}" ;
    nmo:messageSubject   "${email_subject}" ;
    nmo:receivedDate     "${email_received}" ;
    nmo:sender           <${email_sender}> ;
    nmo:from             <${email_sender}> ;
    nmo:sentDate         "${email_sent}" .
