<${immessage_uri}> a nmo:IMMessage;
  nie:plainTextContent       "${immessage_content}" ;
  nie:informationElementDate "${immessage_date}" ;
  nie:contentLastModified    "${immessage_modified}" ;
  nie:plainTextContent       "${immessage_content}" ;
  nmo:from                   <${immessage_from}> ;
  nmo:to                     <${immessage_to}> ;
  nmo:isDraft                "${immessage_draft}" ;
  nmo:isRead                 "${immessage_read}" ;
  nmo:isSent                 "${immessage_sent}" ;
  nmo:messageId              "${immessage_message_id}" ;
  nmo:receivedDate           "${immessage_received}" ;
  nmo:sentDate               "${immessage_sent_date}" ;
  nmo:communicationChannel   <${immessage_channel_uri}> .
