<%(call_uri)s> a nmo:Call;
  nie:subject                "%(call_subject)s";
  nie:informationElementDate "%(call_date)s";
  nie:contentLastModified    "%(call_modified)s";
  nmo:from                   <%(call_from)s>  ;
  nmo:to                     <%(call_to)s>  ;
  nmo:isRead                 "%(call_read)s" ;
  nmo:isSent                 "%(call_sent)s" ;
  nmo:receivedDate           "%(call_received)s" ;
  nmo:sentDate               "%(call_sent_date)s" ;
  nmo:duration               "%(call_duration)s" .
