<%(immessage_uri)s> a nmo:IMMessage;
  nie:plainTextContent       "%(immessage_content)s" ;
  nie:informationElementDate "%(immessage_date)s" ;
  nie:contentLastModified    "%(immessage_modified)s" ;
  nie:plainTextContent       "%(immessage_content)s" ;
  nmo:from                   <%(immessage_from)s> ;
  nmo:to                     <%(immessage_to)s> ;
  nmo:isDraft                "%(immessage_draft)s" ;
  nmo:isRead                 "%(immessage_read)s" ;
  nmo:isSent                 "%(immessage_sent)s" ;
  nmo:messageId              "%(immessage_message_id)s" ;
  nmo:receivedDate           "%(immessage_received)s" ;
  nmo:sentDate               "%(immessage_sent_date)s" ;
  nmo:communicationChannel   <%(immessage_channel_uri)s> .
